%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
%% {src_dirs, ["apps/wahoo_webhook_main/src", "src/controllers"]}.
{project_app_dirs, ["*"]}.

%% Deps
{deps, [
  %% {nova, ".*", {git, "https://github.com/novaframework/nova.git", {branch, "master"}}},
  %% {ecron, ".*", {git, "https://github.com/zhongwencool/ecron.git", {branch, "master"}}},
  %% {mysql_pool, ".*", {git, "https://github.com/silviucpp/mysql_pool.git", {branch, "master"}}},
  %% {jamdb_oracle, ".*", {git, "https://github.com/erlangbureau/jamdb_oracle.git", {branch, "master"}}},
  {epgsql, ".*", {git, "https://github.com/epgsql/epgsql.git", {branch, "devel"}}},
  {poolboy, ".*", {git, "https://github.com/devinus/poolboy.git", {branch, "master"}}},
  {lager, ".*", {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}},
  {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {branch, "master"}}}
  ]}.

{relx, [{release, {wahoo_webhook, {file, "../VERSION"}},
  [cowboy, epgsql, poolboy, lager, sasl, inets, observer, runtime_tools]},
  {mode, minimal},
  {extended_start_script, true},
  {sys_config, "config/sys.config"},
  {vm_args, "config/vm.args.src"},
  {overlay, [{mkdir, "priv"},
      {copy, "priv/", "priv"}
      ]}
  ]}.

{profiles, [{prod, [{relx, [
    {mode, prod},
    {include_src, false},
    {include_erts, true},
    {debug_info, strip},
    {overlay, [{mkdir, "config"},
        {copy, "docker/db.config", "config/db.config"},
        {copy, "docker/sys.config", "config/sys.config"},
        {copy, "docker/vm.args", "config/vm.args"}
    ]}
    ]}
  ]}
]}.

{shell, [
    {config, "config/dev_sys.config"},
    {apps, [wahoo_webhook]}
]}.

{minimum_otp_vsn, "27.2.0"}.
