%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
[{epgsql, [
    {pools, [
        {pool_pg, [
                {size, 2},
                {max_overflow, 20}
            ],
            [   {host, "postgres"},
                {port, 5432},
                {database, "eadm"},
                {username, "user_eadm"},
                {password, "iyS62bvt"}
            ]}
        ]}
    ]
}].
